<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="true" />

    <handlers>
      <add name="iisnode" path="server/server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="api">
          <match url="api/*" />
          <action type="Rewrite" url="server/server.js" />
        </rule>

        <rule name="SocketIO" stopProcessing="true">
          <match url="socket.io/*" />
          <action type="Rewrite" url="server/server.js" />
        </rule>

        <rule name="StaticFiles" stopProcessing="true">
          <match url=".*\..*$" /> <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" /> </rule>

        <rule name="SPARouting">
          <match url=".*" />
          <action type="Rewrite" url="server/server.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode      
      loggingEnabled="true"
      devErrorsEnabled="true" />

  </system.webServer>
</configuration>